<link rel="import" href="../polymer/polymer.html">
<link rel="import" href="../iron-validator-behavior/iron-validator-behavior.html">
<!-- <dom-module>
    <template>
        <qv-email-validator validatorName="email" validatorType="qv"></qv-email-validator>
    </template>
</dom-module> -->
<script type="text/javascript">
(function() {
    var EMAIL_REGEX = /^[-a-z0-9~!$%^&*_=+}{\'?]+(\.[-a-z0-9~!$%^&*_=+}{\'?]+)*@([a-z0-9_][-a-z0-9_]*(\.[-a-z0-9_]+)*\.(aero|arpa|biz|com|coop|edu|gov|info|int|mil|museum|name|net|org|pro|travel|mobi|[a-z][a-z])|([0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}))(:[0-9]{1,5})?$/i;

    Polymer({
        is: 'qv-email-validator',

        behaviors: [Polymer.IronValidatorBehavior],

        validate: function(email) {
            return !!email.match(EMAIL_REGEX);
        }

    });
})();
</script>